body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: url('https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
    position:fixed;
    filter: invert(100%);
	top: 0;
	left: 0;
	width: 100%;
	height:13vh;
	padding:35px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
    background: #eee;
    opacity: 0.9;
}
.toggle{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: 99;
  }
  
  .toggle::before{
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background: #777;
    transform: translateY(-6px);
    transition: 0.5s;
  }
  .toggle::after{
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background: #777;
    transform: translateY(6px);
    transition: 0.5s;
    
  }
  
  .toggle.active::before{
    transform: translateY(0px) rotate(45deg);
  }
  .toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
  }

.navigation
{
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
	left:130px;
	opacity: 0;
    margin-top: 15px;
	visibility: hidden;
	transition: 0.5s;
    vertical-align: middle;
    transition: 1s;
}
.navigation.active
{
	opacity: 1;
	visibility: visible;
}
.navigation li
{
	list-style: none;
}
.navigation li a
{
	color: #111;
	text-decoration: none;
	font-size: 16px;
	margin: 0 20px;
	font-weight:500;
	display: inline-block;
	opacity: 0;
	text-transform: uppercase;
}
.navigation li a:hover{
    color: #18D26E;
    filter: invert(100%);
}
.navigation.active li a
{
	animation: slideRight 0.5s ease-in-out forwards;
}

.btn-1{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #ff1455;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .btn-1:hover{
    color: #fff;
  }
@keyframes slideRight
{
	0%
	{
		transform: translateX(0px);
		opacity: 0;
        margin: 0 10px;
	}
	100%
	{
		transform: translateX(10px);
		opacity: 1;
        margin: 0 25px;
	}
}

/* media query for responsive  */

@media (max-width: 768px)
{
 header
	{
	    height: 70px;
	    padding: 10px 20px;
        background: #eee;
        position:fixed;
        filter: invert(100%);
	}
	.navigation
	{
		position:fixed;
		top: 0;
		left:-30px;
		width: 100vw;
		height:90vh;
		display: flex;
    justify-content: center;
		align-items: center;
		flex-direction: column;
		background:rgba(255,255,255,0.98);  
	}
	.navigation li a
	{
	    color: #111;
	    text-decoration: none;
	    font-size: 25px;
	    padding:20px 20px;
	    letter-spacing: 1px;
        line-height: 40px;
	    display: inline-block;
	    font-weight:500;
	    text-transform: uppercase;
	}
  .navigation li a:hover{
    color: #18D26E;
  }

}



.home{
    filter: invert(100%);
    position: relative;
    width: 100%;
    min-height:100vh;
    margin: 0 auto;
    padding:30px 75px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    background: #eee;
  }

  .home .imgBox{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px #fff;
  }
  
  .cover{
      filter: invert(100%);
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:30px;
    object-fit:cover;
    transition: 1s;
  }
  .home .imgBox:hover .layer,.cover{
    bottom: -10px;
    transform: scale(1.3);
    background:#2196f3;
  }
  .layer{
    bottom:-60px;
    left: 0;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background:#2196f3;
    opacity: 0;
    transition: 1s;
    filter: contrast(1)  brightness(.5) grayscale(1);
  }
  
  
  .home .content{
      flex-basis: 50%;
    max-width: 700px;
    margin-left:40px;
  }
  .home .content h2{
    color: #777;
    letter-spacing: 1px;
    font-weight: 500;
    filter: invert(100%);
  }
  .home .content h2 span{
    font-weight: 700;
    font-size:2em;
    color: #2196f3;
  }
  
  .home .content p span{
      position: relative;
  }
  .home .content p span::after{
      position: absolute;
      width: 100%;
      height: 2px;
      background: #ff1455;
      content: '';
      bottom: -2px;
      left: 0;

  }
  @media(max-width:991px) {
      .home{
        padding:0 30px 10px 30px;
        flex-direction: column;
        justify-content: center;
      }
      
      .home .imgBox{
        width: 250px;
        height: 250px;
        min-width: 250px;
        margin-top:75px;
        margin-bottom: 30px;
      }
      .home .content{
        margin:30px auto;
        margin-left: 0;
        max-width: 100%;
      }
      .home .content h2 span{
        font-size: 1.5em;
      }
      .home .content p{
         margin: 20px 0;
         width: 100%;
         font-size: 14px;
      }
  }

  /* about section css */
.about-section{
  width: 100%;
  height:100%;
  padding: 100px 0 20px 0;
  position:relative;
  scroll-behavior: smooth;
}
.about-box{
  min-height: 100vh;
  width: 95%;
  background:rgba(0,0,0,0.8);
  margin:0 auto;
  padding: 10px 20px;
}
.about{
  padding: 15px 15px;
}
.about p{
  color:#ccc;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about p::before{
  content: '';
  position: absolute;
  width:75px;
  height: 2px;
  background:#18D26E;
  right:-80px;
  top:50%;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about h1{
  color:#fff ;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1px;
}
.about-box .container-sm h2{
  color:#18D26E;
  text-align:left;
}

.about-box .container-sm p{
  color:#fff;
  text-align:left;
  width:80%;
  letter-spacing: 1px;
  line-height: 30px;
  line-break:auto;
}

.skill-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom:30px;
}
.skill{
  flex-basis: 47%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}
.skill .data{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .data p{
  flex-basis:0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.skill .box{
  width: 100%;
  height:10px;
  border: 1px solid #18D26E;
  box-sizing: border-box;
  display:flex;
  justify-content:flex-start;
  align-items: center;
}
.skill .box .fill{
  height:9px;
  background-color: #18D26E;
}

@media(max-width:991px) {
  .skill{
    flex-basis:95%;
  }
  .about-box .container-sm p{
    width: 100%;
    font-size: 12px;
  }
  .about-box .container-sm h2{
    text-align:center;
    font-size: 20px;
    width: 100%;
  }
  .about h1{
    font-size:1.5em;
  }
}


.contact-us{
  min-height: 100vh;
  max-width:95%;
  background:rgba(0,0,0,0.8);
  margin:100px auto;
}


.col-md-5{
  height:150px;
  background:rgba(40,42,44,0.8);
  display: flex;
  justify-content:flex-start;
  align-items: center;
  transition:1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.col-md-5:hover{
  background: #18D26E;
  box-shadow: 1px 1px 10px #18D26E;
}

.col-md-5 .fas{
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background:#111;
  padding:25px;
  border-radius: 50%;
  color: #18D26E;
  font-size:20px;
  margin-right:20px;
}
.col-md-5 .fas:hover{
  background:#18D26E;
  color:#111;
}
.detail{
  color: #fff;
  padding-top: 20px;
  letter-spacing: 1px;
}
.social-icon{
  display: flex;
  justify-content: space-around;
}

.social-icon .fab{
  color: #fff;
}
.social-icon .fab:hover{
  color: #18D26E;
}


.service-sec{
  min-height: 100vh;
  max-width:95%;
  background:rgba(0,0,0,0.8);
  margin:100px auto;
  padding: 0 10px;
}

.col-md-3{
  background:rgba(40,42,44,0.8);
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  transition:1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 300px;
  width: 300px;
}

.col-md-3 .fab{
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background:#111;
  padding:40px;
  border-radius:5px;
  color: #18D26E;
  font-size:40px;
  position: relative;
}
.col-md-3 .fab::after{
  content: '';
  width: 70px;
  height:70px;
  background:rgba(255,255,255,1);
  position: absolute;
  left:-20%;
  bottom:30%;
  z-index: -1;
  border-radius: 5px;
}
.col-md-3 h5{
  margin-top: 20px;
  color: #fff;
  font-size:25px;
  text-align: center;
}
.col-md-3:hover{
  background: #18D26E;
  box-shadow: 1px 1px 10px #18D26E;
}

.portfolio-sec{
  min-height: 100vh;
  max-width:95%;
  background:rgba(0,0,0,0.8);
  margin:100px auto;
  padding: 0 10px;
}

.portfolio-sec .col-md-3{
  background:rgba(40,42,44,0.8);
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}
.portfolio-sec .col-md-3 img{
  width:300px;
  height:300px;
  object-fit:cover;
  opacity: 0.5;
}
.portfolio-sec .col-md-3 .name{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.portfolio-sec .col-md-3 .name h2{
  font-size:30px;
  color: #fff;
}

.portfolio-sec .col-md-3 .name p{
  font-size:12px;
  color: #fff;
  text-align: center;
  width: 90%;
}
.portfolio-sec .col-md-3 .button{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.portfolio-sec .col-md-3 .button a{
  text-decoration: none;
  color: #222;
  background: #18D26E;
  font-size: 10px;
  font-weight: 500;
  padding:5px 10px;
}
.portfolio-sec .col-md-3:hover{
  border: 2px solid #18D26E;
  box-shadow: none;
}

.layer{
  position: absolute;
  bottom:100px;
  z-index:1000;
  background: #18D26E;
}